<% content_for :pre_container do %>
<div class="embed-responsive-jumbo">

	<div class="container">
		<h1 class="text-center">
			YourFavorite
		</h1>
	</div>

	<video src="http://ak0.picdn.net/shutterstock/videos/8515477/preview/stock-footage-close-up-sexy-blond-woman-in-pink-lingerie-giving-flying-kiss-on-gradient-gray-background.mp4" autoplay loop muted></video>
	<video src="http://ak6.picdn.net/shutterstock/videos/237454/preview/stock-footage-exotic-dancer.mp4" autoplay loop muted></video>
	<video src="http://ak3.picdn.net/shutterstock/videos/10276532/preview/stock-footage-sexy-lingerie-woman-on-bed-topless-blowing-kiss.mp4" autoplay loop muted></video>
	<!-- <video src="http://ak4.picdn.net/shutterstock/videos/5308460/preview/stock-footage-tilt-up-of-a-sensual-woman-in-bra-giving-an-erotic-performance.mp4" autoplay loop muted></video> -->
	<!-- <video src="http://ak5.picdn.net/shutterstock/videos/5308466/preview/stock-footage-erotic-dancer-demonstrating-her-perfect-sensual-body.mp4" autoplay loop muted></video> -->
	<!-- <video src="http://ak5.picdn.net/shutterstock/videos/3551642/preview/stock-footage-woman-lying-in-bed.mp4" autoplay loop muted></video> -->
</div>
<% end %>
