<%#= link_to 'New Gallery video', new_gallery_video_path %>

<h4>Videos</h4>
<table class="table table-condensed">
	<tbody id="gallery_videos" data-sort-path="<%= sort_user_gallery_videos_path(current_user, @gallery) %>" >
		<%= render @gallery_videos %>
	</tbody>
</table>
