<header class="page-header">
	<%= link_to 'New Star', new_star_path, class: 'pull-right' %>
	<h2>
		Stars
	</h2>
</header>

<div class="row" id="stars">
	<%= render partial: 'star_thumb', collection: @stars, as: :star %>
</div>
