<%= form_for @video, remote: true do |f| %>
<% if @video.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<strong><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</strong>
	<ul>
		<% @video.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-group form-group-xs">
	<div class="input-group">
		<%#= f.label :star_tokens, 'Stars' %>
		<%= f.text_field :star_tokens, class: 'form-control', data: {load: @video.stars} %>
		<span class="input-group-btn">
			<button type="submit" name="button" class="btn btn-success btn-sm">
				<i class="fa fa-fw fa-check"></i>
			</button>
		</span>
	</div>
</div>

<% end %>
