<p id="notice"><%= notice %></p>

<p>
	<strong>Site:</strong>
	<%= link_to video.site.name, video.site %>
</p>

<p>
	<strong>Url:</strong>
	<%= link_to 'Original Link', video.url, target: '_blank' %>
</p>
