<% if @page_title.present? %>
<header class="page-header">
	<%= content_tag :h2, @page_title %>
</header>
<% end %>

<div class="row" id="videos">
	<%= render partial: 'videos/video_thumb', collection: @videos, as: :video %>
</div>

<div class="pagination-container text-center">
	<%= paginate @videos %>
</div>
