<header class="page-header">
	<h2>
		Add Video Manually
	</h2>
</header>

<div class="row">
	<div class="col-sm-6">

		<div class="well">
			<%= form_tag video_details_path, id: 'video_details', method: :get, remote: true do %>
			<div class="input-group input-group-lg">
				<%= text_field_tag :url, nil, class: 'form-control', placeholder: 'Video URL' %>
				<span class="input-group-btn">
					<%= submit_tag 'Search', class: 'btn btn-primary' %>
				</span>
			</div>
			<% end %>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>

	</div>

	<div class="col-sm-6">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe id="video_src" class="embed-responsive-item" src=""></iframe>
		</div>
		<p>
			<div id="video_thumbs"></div>
		</p>
	</div>

</div>
