<div class="col-xs-4 col-md-3">
	<div class="thumbnail text-center">
		<div class="embed-responsive embed-responsive-4by3">
			<%= image_tag thumbnail.url, class: 'img-responsive center-block' %>
		</div>
		<%= link_to 'Delete', thumbnail, method: :delete, data: { confirm: 'Are you sure?' }, class: 'caption' %>
	</div>
</div>
