<div class="modal-dialog modal-md" role="document">
	<div class="modal-content">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="defaultModalLabel">
				Select A video
			</h4>
		</div>

		<div class="modal-body">

			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="">
					<a href="#favorites" aria-controls="favorites" role="tab" data-toggle="tab">Favorites</a>
				</li>
				<li role="presentation" class="active">
					<a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Popular Videos</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane " id="favorites">
					<% @favorites.each do |fav| -%>
					<%= render fav.video %>
					<% end -%>
				</div>
				<div role="tabpanel" class="tab-pane active" id="popular">
					<div class="list-group">

						<% @videos.each do |video| %>
						<%= render video %>
						<% end %>

					</div>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-warning" data-dismiss="modal">Cancel</button>
		</div>

	</div>
</div>
