<header class="page-header">
	<%= link_to 'New Gallery', new_user_gallery_path(@user), class: 'pull-right', data: {toggle: :modal, target: '#defaultModal'} %>
	<h2>
		Galleries
	</h2>
</header>

<div id="user-galleries" class="row">
	<%= render @galleries %>
</div>
