<header class="page-header">
	<ul class="list-inline pull-right">
		<%= content_tag :li, link_to('Edit', edit_user_gallery_path(@user, @gallery), data: {toggle: :modal, target: '#defaultModal'}) %>
		<%= content_tag :li, link_to('Back', user_galleries_path(@user)) %>
	</ul>
	<%= content_tag :h2, @gallery.name %>
</header>

<div class="row">
	<% @gallery.videos_of_gallery.first(4).each do |video| %>
	<div class="col-sm-6">
		<div class="thumbnail">
			<%= render video %>
		</div>
	</div>
	<% end %>
</div>
