#quick_gallery {
	background: #222;
	margin-top: -21px;
}

.qg-video {

	.video-options {
		position: absolute;
		top: 0;
		z-index: 1;
	}

	// @media (min-width: 992px) {
	// 	.video-options {
	// 		display: none;
	// 	}

	// 	&:hover {
	// 		.video-options {
	// 			display: block;
	// 		}
	// 	}
	// }

}